

body {
	background: 
		/* linear-gradient(to top right, #b3b1a2 50%, #eaffef 99%) */
	  linear-gradient(to top right, #eaffef 1%, #b3b1a2 75%, #eaffef 99%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #faf7e8;
}

h1 {
	font-size: 80px;
}

header h6 {
	font-size: 24px;
	font-weight: 600;
}

h4 {
	letter-spacing: 2px;
	font-size: 40px;
}

header {
	margin-top: 120px !important;
}

#one-nine {
	background: linear-gradient(to top right, #eaffef 1%, #b3b1a2 75%, #eafef 99%) !important;
}
#ten-eighteen {
	background: linear-gradient(to top right, #9ebfd1, #071a24);
}

p {
	font-size: 16px;
	line-height: 32px;
	/* color: #071a24; */
	color: #081528;
}
.row p {
	max-width: 420px;
}

.navbar {
	background: transparent !important;
}

.collapse a {
	color: white;
}
#navbarToggleExternalContent div {
	background-color: #071a24 !important;
	height: 240px;
}
