

body {
	background: 
		/* linear-gradient(to top right, #b3b1a2 50%, #eaffef 99%) */
	  linear-gradient(to top right, #eaffef 2%, #b3b1a2 45%, #eaffef 99%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #faf7e8;
}

h1 {
	font-size: 80px;
}

header h6 {
	font-size: 24px;
	font-weight: 600;
}

h4 {
	letter-spacing: 2px;
	font-size: 24px;
}

p {
	font-size: 16px;
	line-height: 28px;
	color: #071a24;
}
