body {
	background: black;
		/* linear-gradient(to top right, #b3b1a2 50%, #eaffef 99%) */
	  /* linear-gradient(to top right, #eaffef 1%, #b3b1a2 85%, #eaffef 99%); */ 

	font-family: sans-serif;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #faf7e8;
}

h1 {
	font-size: 40px;
}

header h6 {
	font-size: 20px;
	font-weight: 600;
}

h4 {
	letter-spacing: 2px;
	font-size: 40px;
}

/* ================
   Chapter Sections
	 ================
*/

#one-nine {
  padding-top: 120px; 
	background: linear-gradient(to top right, #b3b1a2 89%, #eaffef 99%) !important;
}
#ten-eighteen {
	background: linear-gradient(to top right, #9ebfd1, #071a24);
}
#nineteen-twenty-seven {

}
#twenty-eight-thirty-six {

}
#thirty-seven-forty-five {

}
#forty-six-fifty-four {

}
#fifty-five-sixty-three {

}
#sixty-four-seventy-two {

}
#seventy-three-eighty-one {

}

p {
	font-size: 14px;
	line-height: 26px;
	/* color: #071a24; */
	color: #081528;
}
.row p {
	max-width: 420px;
}

.yin-yin {
	font-size: 20px;
	margin-bottom: 0;
	position: relative;
}

.navbar {
	background: transparent !important;
}

.collapse a {
	color: white;
}
#navbarToggleExternalContent div {
	background-color: #071a24 !important;
	height: 160px;
}
