body {
	background: black;
		/* linear-gradient(to top right, #b3b1a2 50%, #eaffef 99%) */
	  /* linear-gradient(to top right, #eaffef 1%, #b3b1a2 85%, #eaffef 99%); */ 

	font-family: sans-serif;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #faf7e8;
}

h1 {
	font-size: 40px;
}

header h6 {
	font-size: 20px;
	font-weight: 600;
}

h4 {
	letter-spacing: 2px;
	font-size: 40px;
}

/* ================
   Chapter Sections
	 ================
*/

#one-nine {
  padding-top: 120px; 
	padding-bottom: 80px;
	background: linear-gradient(to top right, #E2E6DC 83%, #1F1B25);
}

h1,
h6,
#one-nine p,
#one-nine h4 {
	color: #1F1B25;
}

#ten-eighteen {
	background: linear-gradient(to top right, #C8D4C7 83%, #3A2E3B);
	padding-bottom: 80px;
}
#ten-eighteen p,
#ten-eighteen h4 {
	color: #3A2E3B;
}
#ten-eighteen .yin-yin {
	color: #C8D4C7;
}


#nineteen-twenty-seven {
	background: linear-gradient(to top right, #C8B6B9 83%, #3A4C49);
	padding-bottom: 80px; 
}
#nineteen-twenty-seven p,
#nineteen-twenty-seven h4 {
	color: #3A4C49;
}
#nineteen-twenty-seven .yin-yin {
	color: #C8B6B9;
}


#twenty-eight-thirty-six {
	background: linear-gradient(to top right, #ADDACC 83%, #552836);
	padding-bottom: 80px;
}

#twenty-eight-thirty-six p,
#twenty-eight-thirty-six h4 {
	color: #552836;
}
#twenty-eight-thirty-six .yin-yin {
	color: #ADDACC;
}


#thirty-seven-forty-five {
	background: linear-gradient(to top right, #71383A 83%, #91CAC8);
	padding-bottom: 80px;
}
#thirty-seven-forty-five p,
#thirty-seven-forty-five h4 {
	color: #91CAC8;
}
#thirty-seven-forty-five .yin-yin {
	color: #71383A;
}


#forty-six-fifty-four {
	background: linear-gradient(to top right, #EBFBCE 83%, #160834);
	padding-bottom: 80px;
}
#forty-six-fifty-four p,
#forty-six-fifty-four h4 {
	color: #160834;
}
#forty-six-fifty-four .yin-yin {
	color: #EBFBCE;
}


#fifty-five-sixty-three {
	background: linear-gradient(to top right, #B0ACC0 83%, #525642);
	padding-bottom: 80px;
}
#fifty-five-sixty-three p,
#fifty-five-sixty-three h4 {
	color: #525642;
}
#fifty-five-sixty-three .yin-yin {
	color: #B0ACC0;
}


#sixty-four-seventy-two {
	background: linear-gradient(to top right, #E2D4B9 83%, #202E49);
	padding-bottom: 80px;
}
#sixty-four-seventy-two p,
#sixty-four-seventy-two h4 {
	color: #202E49;
}
#sixty-four-seventy-two .yin-yin {
	color: #E2D4B9;
}


#seventy-three-eighty-one {
	background: linear-gradient(to top right, #8BB89E 83%, #774A64);
	padding-bottom: 80px;
}
#seventy-three-eighty-one p,
#seventy-three-eighty-one h4 {
	color: #774A64;
}
#seventy-three-eighty-one .yin-yin {
	color: #8BB89E;
}

p {
	font-size: 14px;
	line-height: 26px;
	/* color: #071a24; */
	color: #081528;
}
.row p {
	max-width: 420px;
}

.yin-yin {
	font-size: 20px;
	margin-bottom: 0;
	position: relative;
}
p.text-right.yin-yin {
	margin-top: -30px;
	margin-right: 10px;
}

.yin-yin a {
	color: inherit;
}

.navbar {
	background: transparent !important;
}

.collapse a {
	color: white;
}
#navbarToggleExternalContent div {
	background-color: #1F1B25 !important;
	color: rgb(226, 230, 220);
	height: 160px;
}
#navbarToggleExternalContent h4,
#navbarToggleExternalContent a {
	color: rgb(226, 230, 220) !important;

}

footer {
	margin-top: 80px;
	margin-bottom: -80px;
}
